{% extends '../base.html' %}

{% load static %}

{% block content %}
<header class="min-h-screen w-full bg-black bg-opacity-75 showcase border-gray-600 border-b-8 flex justify-center py-20 bg-no-repeat"  style="background-image: url('{% static 'Netflixapp/background_netflix.jpg' %}');">
    <div class="z-10 h-full py-32 md:py-0 text-gray-100 w-6/12  flex items-center flex-col">
        <form class="bg-black bg-opacity-70 py-8 px-4 w-8/12 rounded-md" method="POST">
            {% csrf_token %}
            <div>
                <strong class="text-4xl font-semibold text-center flex justify-center items-center ">LOGOUT PAGE</strong>
                <ul><br>
                  
                  <li><a href="{% url 'account_email' %}" class='text-lg font-medium mb-3 text-blue-600 flex justify-center items-center'>Change E-mail</a></li>
                  {% comment %} <li><a href="{% url 'account_logout' %}">Sign Out</a></li> {% endcomment %}
                  
                </ul>
            </div><br>
              <h1 class="text-4xl font-semibold text-center ">Sign Out</h1>
                  <br>
                <p class='text-lg font-medium mb-3 text-center'>Are you sure you want to sign out ?</p>
                <form method="post" action="/accounts/logout/">
                  <input type="hidden" name="" value="">
                  
                  <p class="text-center"><button type="submit"class="text-blue-600">Sign Out</button></p>
                </form>
        </form>
      </div>    
</header>

{% endblock content %} 